namespace: penpot

resources:
- ./secret.yml
- ./postgres-cluster.yml
# - ./asset-ingress.yml

helmCharts:
- name: penpot
  releaseName: penpot
  repo: https://helm.penpot.app
  version: 0.35.0
  valuesFile: penpot.values.yml
