apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  # at 23:00, 00:00 and 01:00 - to reduce CI load (2 PRs / hour by default)
  schedule: '0 23,0,1 * * *'
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: renovate
        spec:
          containers:
            - name: renovate
              image: renovate/renovate:42
              envFrom:
                - secretRef:
                    name: renovate-auth
                - configMapRef:
                    name: renovate
              resources:
                requests:
                  cpu: 1
                  memory: 1Gi
                limits:
                  cpu: 2
                  memory: 2Gi
          restartPolicy: Never
