namespace: mongodb-operator

resources:
  - https://raw.githubusercontent.com/mongodb/mongodb-kubernetes/1.2.0/public/crds.yaml
  - ./podlogs.yml

helmCharts:
  - releaseName: mongodb-operator
    name: mongodb-kubernetes
    repo: https://mongodb.github.io/helm-charts
    version: 1.6.1
    valuesFile: mongodb-operator.values.yml

patches:
  - patch: |-
      - op: replace
        path: /kind
        value: ClusterRole
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: mongodb-kubernetes-operator
  - patch: |-
      - op: replace
        path: /kind
        value: ClusterRole
    target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: mongodb-kubernetes-appdb

  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: mongodb-kubernetes-operator
      spec:
        template:
          spec:
            containers:
              - name: mongodb-kubernetes-operator
                env:
                  - name: WATCH_NAMESPACE
                    value: "snoty,spotify-stats" # not ideal by any means but I can't think of a better idea
                    valueFrom: null
    target:
      kind: Deployment

