datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        uid: loki
        type: loki
        url: http://loki-gateway.{{- $.Release.Namespace -}}.svc.cluster.local
        editable: false
        jsonData:
          # https://grafana.com/docs/grafana/latest/datasources/loki/#provision-the-data-source
          derivedFields:
            - datasourceUid: tempo
              # https://github.com/grafana/tracing-workshop-breakout/blob/main/breakout-1-working-with-traces.md
              matcherRegex: '[tT]race_?[il][dD]"?[:=]"?(\w+)'
              name: TraceID
              url: '$${__value.raw}'
              urlDisplayLabel: 'View Trace'
      - name: Prometheus
        uid: prometheus
        type: prometheus
        url: http://prometheus.{{- $.Release.Namespace -}}.svc.cluster.local:9090
        editable: false
        jsonData:
          timeInterval: 30s
      - name: Tempo
        uid: tempo
        type: tempo
        url: http://tempo.{{- $.Release.Namespace -}}.svc.cluster.local:3200
        editable: true
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
            spanStartTimeShift: -1h
            spanEndTimeShift: 1h
            tags: ["job", "instance", "pod", "namespace"]
            filterByTraceID: true
            filterBySpanID: true
          tracesToMetrics:
            datasourceUid: prometheus
            spanStartTimeShift: -1h
            spanEndTimeShift: 1h
            tags: [{ key: 'service.name', value: 'service' }]
