imageRenderer:
  enabled: true

testFramework:
  # no clue what it is supposed to do but it just like fails before anything happens soooo
  enabled: false

plugins:
  - grafana-exploretraces-app
  - grafana-lokiexplore-app
  - grafana-metricsdrilldown-app
  - grafana-pyroscope-app
  - grafana-polystat-panel
  - grafana-advisor-app
  - apricote-hcloud-datasource

ingress:
  enabled: true
  hosts:
    - grafana.simulatan.me

persistence:
  enabled: false

grafana.ini:
  server:
    domain: grafana.simulatan.me
    root_url: https://grafana.simulatan.me
  database:
    type: postgres
    url: $__file{/etc/secrets/database/uri}
  auth.generic_oauth:
    enabled: true
    name: Authelia
    icon: signin
    scopes: openid profile email groups
    empty_scopes: false
    auth_url: https://auth.simulatan.me/api/oidc/authorization
    token_url: https://auth.simulatan.me/api/oidc/token
    api_url: https://auth.simulatan.me/api/oidc/userinfo
    login_attribute_path: preferred_username
    groups_attribute_path: groups
    name_attribute_path: name
    use_pkce: true
    role_attribute_path: contains(groups, 'grafana-admin') && 'GrafanaAdmin' || contains(groups, 'grafana-editor') && 'Editor' || 'GrafanaAdmin'
    allow_assign_grafana_admin: true
    client_id: grafana
    client_secret: $__file{/etc/secrets/oidc/_CLIENT_SECRET_GRAFANA}
  feature_toggles:
    enable: "grafanaAdvisor"

extraVolumes:
  - name: database-secret
    emptyDir: {}

extraVolumeMounts:
  - name: database-secret
    mountPath: /etc/secrets/database
    readOnly: false


extraSecretMounts:
  - name: oidc-secret
    secretName: grafana-oidc
    defaultMode: 0440
    mountPath: /etc/secrets/oidc
    readOnly: true
  - name: grafana-postgres-app
    secretName: grafana-postgres-app
    defaultMode: 0440
    mountPath: /etc/secrets/postgres
    readOnly: true

extraInitContainers:
  - name: fix-postgres-uri
    image: alpine
    command: [sh]
    args:
      - "-c"
      - "sed 's/postgresql/postgres/g' /etc/secrets/postgres/uri > /etc/secrets/database/uri"
    volumeMounts:
      - name: grafana-postgres-app
        mountPath: /etc/secrets/postgres
      - name: database-secret
        mountPath: /etc/secrets/database
