deploymentMode: SingleBinary

singleBinary:
  replicas: 1

loki:
  # horribly unsafe but i don't need tenants
  auth_enabled: false
  storage:
    type: filesystem
  commonConfig:
    replication_factor: 1
  compactor:
    working_directory: /var/loki/compactor
    compaction_interval: 1h
    retention_enabled: true
    delete_request_store: filesystem
  schemaConfig:
    configs:
      - from: 2025-04-01
        object_store: filesystem
        store: tsdb
        schema: v13
        index:
          prefix: index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    max_line_size: 1024KB
    retention_period: 30d
    retention_stream:
      - selector: '{stream="loki-canary"}'
        priority: 1
        period: 24h
  ruler:
    enable_api: true
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 2

monitoring:
  rules:
    enabled: true

lokiCanary:
  extraArgs:
    - -streamvalue="loki-canary"

chunksCache:
  enabled: false
resultsCache:
  enabled: false

# Zero out replica counts of other deployment modes
minio:
  enabled: false

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
