apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: forgejo

resources:
- ./valkey.secret.yml
- ./postgres-cluster.yml
- ./forgejo-sso-secret.yml

helmCharts:
- name: forgejo
  repo: oci://code.forgejo.org/forgejo-helm
  version: 16.0.2
  valuesFile: forgejo.values.yml
  releaseName: forgejo
  namespace: forgejo
- releaseName: valkey
  name: redis-ha
  repo: https://dandydeveloper.github.io/charts
  version: 4.33.8
  valuesFile: valkey.values.yml
  namespace: forgejo
