resources:
  - ./middlewares.yml

helmCharts:
  - name: traefik-crds
    releaseName: traefik-crds
    repo: oci://ghcr.io/traefik/helm
    version: 1.11.0
  - name: traefik
    releaseName: traefik
    repo: oci://ghcr.io/traefik/helm
    version: 37.4.0
    valuesFile: traefik.values.yml
    namespace: traefik
