apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vikunja

resources:
- ./postgres-cluster.yml
- ./vikunja.secret.yml
- ./vikunja-oidc.yml
- ./vikunja-todoist.yml
- ./vikunja-mail.yml

helmCharts:
- name: vikunja
  releaseName: vikunja
  repo: oci://ghcr.io/go-vikunja/helm-chart
  valuesFile: vikunja.values.yml
  version: 2.0.0
