global:
  domain: argocd.simulatan.me
  networkPolicy:
    create: true

configs:
  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance
    # https://github.com/argoproj/notifications-engine/issues/377
    application.resourceTrackingMethod: annotation+label
    kustomize.buildOptions: --enable-helm --load-restrictor=LoadRestrictionsNone
    timeout.reconciliation: 24h # we're using webhooks instead of periodic polling
    timeout.reconciliation.jitter: 10m
    resource.customizations.ignoreDifferences.apiextensions.k8s.io_CustomResourceDefinition: |
      jsonPointers:
      - /spec/preserveUnknownFields
    admin.enabled: "false"
    oidc.config: |
      name: Authelia
      issuer: https://auth.simulatan.me
      clientID: argocd
      clientSecret: $argocd-oidc:oidc.authelia.clientSecret
      cliClientID: argocd-cli
      requestedScopes:
        - openid
        - profile
        - email
        - groups
      enableUserInfoGroups: true
      userInfoPath: /api/oidc/userinfo
      userInfoCacheExpiration: "5m"
  params:
    server.insecure: true
    application.namespaces: argocd, cluster-*
    # not set correctly when not using haproxy
    redis.server: argocd-redis-ha:6379
  rbac:
    policy.csv: |
      g, argocd-admin, role:admin
  cmp:
    create: true
    plugins:
      isolated-kustomize:
        discover:
          fileName: "kustomization.y*ml"
        generate:
          command:
            - kustomize
          args:
            - build
            - --enable-helm
            - --load-restrictor=LoadRestrictionsNone


repoServer:
  replicas: 2
  extraContainers:
    - name: isolated-kustomize
      command: [/var/run/argocd/argocd-cmp-server]
      image: alpine/k8s:1.34.1 # 1.35.0 is broken: https://github.com/kubernetes-sigs/kustomize/issues/6013
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: isolated-kustomize.yaml
          name: argocd-cmp-cm
        - mountPath: /tmp
          name: cmp-tmp
  volumes:
    - name: argocd-cmp-cm
      configMap:
        name: argocd-cmp-cm
    - name: cmp-tmp
      emptyDir: {}

notifications:
  # the secret is managed using SealedSecrets
  secret:
    create: false

redis-ha:
  enabled: true
  image:
    repository: valkey/valkey
    # sync with https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
    tag: 7.2-alpine
  haproxy:
    enabled: false

externalRedis:
  existingSecret: argocd-redis

controller:
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 500Mi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
    rules:
      enabled: true
      spec:
        - alert: ArgocdServiceNotSynced
          expr: argocd_app_info{sync_status!="Synced"} != 0
          for: 15m
          labels:
            severity: info
          annotations:
            summary: ArgoCD service not synced (instance {{ $labels.instance }})
            description: "Service {{ $labels.name }} run by argo is currently not in sync."
        - alert: ArgocdServiceUnhealthy
          expr: argocd_app_info{health_status!="Healthy"} != 0
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: ArgoCD service unhealthy (instance {{ $labels.instance }})
            description: "Service {{ $labels.name }} run by argo is currently not healthy."

server:
  extraArgs:
    - --sentinel=argocd-redis-ha-announce-0:26379
    - --sentinel=argocd-redis-ha-announce-1:26379
    - --sentinel=argocd-redis-ha-announce-2:26379
    - --sentinelmaster=argocd
  replicas: 3

applicationSet:
  replicas: 1
