namespace: argocd

resources:
  - ./argocd-oidc.yml
  - ./argocd-notifications-secret.yml
  - ./ingress.yml

helmCharts:
- name: argo-cd
  releaseName: argocd
  repo: https://argoproj.github.io/argo-helm
  valuesFile: argocd.values.yml
  version: 9.2.3
  apiVersions:
    - monitoring.coreos.com/v1
  namespace: argocd
  additionalValuesFiles:
    - ./argocd-notifications.values.yml

