namespace: monitoring

resources:
  - 'https://raw.githubusercontent.com/grafana/alloy/refs/tags/helm-chart/1.5.0/operations/helm/charts/alloy/charts/crds/crds/monitoring.grafana.com_podlogs.yaml'
  - ./skupper-site.yml
  - ./skupper-connector.yml
  - ./rules.yml

configMapGenerator:
  - name: alloy-config
    files:
      - config/config.alloy
      - config/prometheus.alloy
      - config/loki.alloy
      - config/otel.alloy
      - config/kubernetes-nodes.alloy
      - config/kubernetes-podlogs.alloy
    options:
      disableNameSuffixHash: true

helmCharts:
- name: alloy
  releaseName: alloy
  repo: https://grafana.github.io/helm-charts
  version: 1.5.0
  valuesFile: alloy.values.yml
  namespace: monitoring
- releaseName: monitoring-skupper
  name: skupper
  namespace: monitoring
  repo: oci://quay.io/skupper/helm
  version: 2.1.2
  valuesInline:
    scope: namespace

patches:
  - target:
      kind: Deployment
      name: skupper-controller
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: SKUPPER_ENABLED_ACCESS_TYPES
          value: nodeport
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: SKUPPER_CLUSTER_HOST
          value: "tailscale.main.cloud.simulatan.me"
