namespace: monitoring

resources:
  - ./rbac.yml
  - ./prometheus.yml
  - ./podlogs.yml
  - ./expose.yml
  - ./rules

patches:
  - target:
      group: monitoring.coreos.com
      version: v1
      kind: ServiceMonitor
    patch: |-
      - op: replace
        path: /spec/endpoints/0/honorLabels
        value: true
