kube-state-metrics:
  enabled: true
  prometheus:
    monitor:
      enabled: true

prometheus-node-exporter:
  enabled: true
  extraArgs:
    - --no-collector.arp
    - --no-collector.bcache
    - --no-collector.bonding
    - --no-collector.sockstat
    - --no-collector.netclass
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.netdev.device-exclude=.*veth.*
    - --collector.ethtool.device-exclude=.*veth.*
  prometheus:
    monitor:
      enabled: true
      honorLabels: true
      relabelings:
        - action: replace
          sourceLabels:
            - __meta_kubernetes_pod_node_name
          targetLabel: node


# remote write exists
prometheus-pushgateway:
  enabled: false

server:
  replicaCount: 0
  tsdb:
    out_of_order_time_window: 30s
  extraArgs:
    # enable the feature
    web.enable-remote-write-receiver: null

serverFiles:
  prometheus.yml:
    # all done by alloy
    scrape_configs: []
  recording_rules.yml:
    groups:
    - name: k8s.rules.container_cpu_usage_seconds_total
      rules:
      - expr: |-
          sum by (cluster, namespace, pod, container) (
            irate(container_cpu_usage_seconds_total{pod!=""}[5m])
          ) * on (cluster, namespace, pod) group_left(node) topk by (cluster, namespace, pod) (
            1, max by (cluster, namespace, pod, node) (kube_pod_info{node!=""})
          )
        record: node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate
