apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: spotify-stats

resources:
- ./mongodb-passwords.yml
- ./mongodb.yml
- ./mongodump-pvc.yml
- ./secret.yml
- ./deployment.yml
- ./service.yml
- ./ingress.yml

helmCharts:
  - releaseName: mongodb-operator
    name: mongodb-kubernetes
    repo: https://mongodb.github.io/helm-charts
    version: 1.7.0
    valuesFile: mongodb-operator.values.yml
    namespace: spotify-stats
